body{
	margin: 0;
	font-family: 'teko',quicksand;
	padding: 0
}
a{
	color: black;
	text-decoration: none;
}
.Header{
	background-color: white;
	z-index: 2000;
	position: fixed;
	height: 60px;
	width: 100%;
	box-shadow: 1px 0px 1px 0px rgba(32,32,32,0.5)
}
.HeaderBody{
	text-align: center;
    width: 1250px;
    height: 100%;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    padding-left: 50px;
    display: block;
    padding-right: 50px;
}

.HeaderBody #logo{
	text-align: center;
	height: 40px;
	padding-left: 10px;
	display: inline-block;
	position: relative;
	float: left;
}
.HeaderBody #logo img{
	cursor: pointer;
	width: 20vw;
	max-width: 50px;
}

.MenuOptions{
	text-align: center;
	float: right;
	width: 80%;
	display: inline;
}

.MenuOptions ul{
	margin: 0;
	padding:0;
	list-style: none;
}

.MenuOptions ul li{
	width: 70px;
	font-size: 16px;
    margin-left: 10px;
    text-transform: uppercase;
	margin-right: 10px;
	line-height: 4;
	cursor: pointer;
	display: inline-block;
	transition: 0.5s ease-in-out;
}

.MenuOptions ul li:hover{
	letter-spacing: 0.5px;
	text-shadow: 2px 2px #ffbc00;
}

.SocialMedia{
	overflow:hidden;
	margin:0;
	padding:0;
	float: right;
	list-style: none;
}

.SocialMedia li{
	margin: 0 !important;
	padding-right:5px;
	padding-left:5px;
	line-height: 4 !important;
	display: inline-block;
}
.fix{
	float: right;
}

.current{
	font-family:Raleway;
	color: Green;
}



@media screen and (min-width: 768px) and (max-width: 1300px){
	.Header{
		background-color: white;
		z-index: 2000;
		position: fixed;
		height: 60px;
		width: 100%;
		box-shadow: 1px 0px 1px 0px rgba(32,32,32,0.5)
	}
	.HeaderBody{
		text-align: center;
	    width: 100%;
	    height: 100%;
	    position: relative;
	    margin-left: auto;
	    margin-right: auto;
	    padding-left: 50px;
	    display: block;
	    padding-right: 50px;
	}

	.HeaderBody #logo{
		text-align: center;
		height: 40px;
		padding-left: 10px;
		display: inline-block;
		position: relative;
		float: left;
	}
	.HeaderBody #logo img{
		cursor: pointer;
		width: 50px;
	}

	.MenuOptions{
		text-align: center;
		float: right;
		width: 90vw;
		display: inline;
	}

	.MenuOptions ul{
		margin: 0;
		padding:0;
		list-style: none;
	}

	.MenuOptions ul li{
		width: 10vw;
		font-size: 15px;
	    margin-left: 5px;
	    text-transform: uppercase;
		margin-right: 5px;
		line-height: 4;
		cursor: pointer;
		display: inline-block;
		transition: 0.5s ease-in-out;
	}

	.MenuOptions ul li:hover{
		letter-spacing: 2px;
		text-shadow: 2px 2px #ffbc00;
	}
}